.outgoing-prescriptions {
  padding-top: 48px;
}

.prescription-card {
  width: 80%;
  margin: auto;
  cursor: pointer;
  transition: 250ms;
}

.prescription-info-container {
  display: flex;

  div {
    padding: 2px;
  }
}

.picked-up-prescriptions-section {
  padding-top: 32px;
  text-align: center;

  .picked-up-prescriptions-button {
    width: 192px;
    height: 64px;
  }
}

.picked-up {
  background-color: #B216A6;
  color: white;
}

.prescription-name {

}

.prescription-by {
  align-self: end;
  padding: 2px;
}

.prescription-picked-up {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}
