<mat-tab-group mat-stretch-tabs>

  <mat-tab label="Search">
    <div class="search">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text"
        placeholder="Search for Patient"
        [(ngModel)]="searchTerm"
        (change)="searchNonPatients()"
        >
      </mat-form-field>
    </div>

    <div>
    <table class="new-patient-table" mat-table [dataSource]="patientList">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">{{element.firstName + ' ' + element.lastName}}</td>
      </ng-container>
    
      <ng-container matColumnDef="DOB">
        <th mat-header-cell *matHeaderCellDef> DOB </th>
        <td mat-cell *matCellDef="let element">{{element.DOB}}</td>
      </ng-container>
    
      <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender</th>
        <td mat-cell *matCellDef="let element">{{element.Gender}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
    </div>
  </mat-tab>

  <mat-tab label="Add new">
    <mat-form-field>
      <input #firstName matInput type="text" placeholder="First Name">
      <input #lastName matInput type="text" placeholder="Last Name">
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
