<mat-tab-group mat-stretch-tabs>

  <mat-tab label="Search">
    <div class="search">
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="Search for Patient">
      </mat-form-field>
    </div>
  </mat-tab>

  <mat-tab label="Add new">
    <div class="add-new-container">
      <div class="name">
        <mat-form-field>
          <input #firstName matInput type="text" placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input #lastName matInput type="text" placeholder="Last Name">
        </mat-form-field>
      </div>
      <div class="attributes">
        <mat-form-field>
          <input #DOB matInput type="date" placeholder="DOB">
        </mat-form-field>
        <mat-form-field>
          <input #gender matInput type="text" placeholder="gender">
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="dialogRef.close()">Cancel</button>
        <button mat-raised-button color="primary" (click)="submit(firstName.value, lastName.value, DOB.value, gender.value)">Submit
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
