<div class="container"*ngIf="!link">
  <img src="../../../assets/full_icon.png" alt="" routerLink="/">
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button class="menu-item" mat-menu-item routerLink="/medical-professional/1">Edit Details</button>
    <button class="menu-item" mat-menu-item routerLink="/reports">Reports</button>
    <button class="menu-item" mat-menu-item routerLink="/reports/charts">Reports (Charts)</button>
    <button class="menu-item" mat-menu-item routerLink="/patient-search">Patient Search</button>
    <button class="menu-item" mat-menu-item routerLink="/pharmacy/incoming">Pharmacy (To Fill)</button>
    <button class="menu-item" mat-menu-item routerLink="/pharmacy/outgoing">Pharmacy (To Pick Up)</button>
    <button class="menu-item" mat-menu-item (click)="signOut()">Sign Out</button>
  </mat-menu>
</div>
<div *ngIf="!link" class="divider"></div>

<img *ngIf="link" class="epic" src="../../../assets/epic.png" alt="">
