<div class="container">
  <img src="../../../assets/full_icon.png" alt="" routerLink="/">
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button class="menu-item" mat-menu-item routerLink="/medical-professional/1">Edit Details</button>
    <button class="menu-item" mat-menu-item routerLink="/">Another Test Link</button>
    <button class="menu-item" mat-menu-item routerLink="/signout">Sign Out</button>
  </mat-menu>
</div>
<div class="divider"></div>
