<div class="padding">
  <div class="mp-name padding">
    {{medicalProfessional.name}}
  </div>

  <div class="example-form">
    <mat-form-field class="example-full-width">
      <input 
      matInput 
      placeholder="Phone Number"
      [(ngModel)]="medicalProfessional.phoneNumber">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input 
      matInput 
      placeholder="Email" 
      [(ngModel)]="medicalProfessional.email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input 
      matInput
      placeholder="Address"
      [(ngModel)]="medicalProfessional.address">
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary">Update</button>
      <button mat-raised-button color="accent" routerLink="/medical-professional-patient-list">Cancel</button>
    </div>
  </div>
</div>
