<div class="padding" *ngIf="medicalProfessional !== undefined">
  <div class="mp-name padding">
    {{medicalProfessional.fullname}}
  </div>

  <div class="example-form">
    <mat-form-field class="example-full-width">
      <input 
      matInput 
      placeholder="Phone Number"
      [(ngModel)]="medicalProfessional.Phone">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input 
      matInput 
      placeholder="Email" 
      [(ngModel)]="medicalProfessional.email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input 
      matInput
      placeholder="Address"
      [(ngModel)]="medicalProfessional.Address">
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary" (click)="updateDetails()">Update</button>
      <button mat-raised-button color="accent" routerLink="/medical-professional-patient-list">Cancel</button>
    </div>
  </div>
</div>
