<div class="container">

  <div class="login-form" (keyup.enter)="login(email.value, password.value)">
    <mat-form-field class="username">
      <input #email type="email" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="password">
      <input #password type="password" matInput placeholder="Password">
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button color="primary" (click)="login(email.value, password.value)">Login</button>
    </div>
    <div class="img-wrap">
      <img [ngClass]="spinning ? 'img-active' : 'img'" src="../../../assets/icon_pill.png" alt="">
    </div>
  </div>
</div>


