 <!-- <mat-accordion>
    <mat-expansion-panel *ngFor="let patient of patientList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{patient.name}}
        </mat-panel-title>
        <mat-panel-description>
          DOB: {{patient.dob}} Gender: Male
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>


     <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion> -->



  <!-- <table class="medList" mat-table [dataSource]="patientList">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>
    
      <ng-container matColumnDef="dose">
        <th mat-header-cell *matHeaderCellDef> Dose </th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>
    
      <ng-container matColumnDef="route">
        <th mat-header-cell *matHeaderCellDef> Route</th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>
    
      <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef> Frequency </th>
        <td mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table> -->

 <div class="top-wrapper">
   <div class="mpName">
     {{user.fullName()}}
   </div>
 </div>


 <button mat-raised-button color="primary" (click)="openNewUserModal()">Add a Patient</button>

<table mat-table
    [dataSource]="patientList" multiTemplateDataRows
    class="mat-elevation-z8">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
  </ng-container>
  <ng-container matColumnDef="DOB">
    <th mat-header-cell *matHeaderCellDef> DOB </th>
    <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
  </ng-container>
  <ng-container class="columns" matColumnDef="Gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
  </ng-container>
  <ng-container matColumnDef="Risk">
    <th mat-header-cell *matHeaderCellDef> Risk </th>
    <td mat-cell *matCellDef="let element"> {{element.AtRisk}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns --> -->
   <ng-container matColumnDef="expandedDetail"> -->
    <td mat-cell *matCellDef="let element" [attr.colspan]="6">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" colspan=6>
        <div class="example-element-diagram"> 

          <table class="medList" mat-table [dataSource]="element.Scripts">
            <ng-container matColumnDef="Generic Drug Name">
              <th mat-header-cell *matHeaderCellDef> Generic Drug Name </th>
              <td mat-cell *matCellDef="let script">{{script.MedicationGenericName}}</td>
            </ng-container>

            <ng-container matColumnDef="Medical Drug Name">
              <th mat-header-cell *matHeaderCellDef> Medical Drug Name </th>
              <td mat-cell *matCellDef="let script">{{script.MedicationMedicalName}}</td>
            </ng-container>
          
            <ng-container matColumnDef="Dose">
              <th mat-header-cell *matHeaderCellDef> Dose </th>
              <td mat-cell *matCellDef="let script">{{script.Dosage}}</td>
            </ng-container>
          
            <ng-container matColumnDef="Frequency">
              <th mat-header-cell *matHeaderCellDef> Frequency</th>
              <td mat-cell *matCellDef="let script">{{script.MedicationTime}}</td>
            </ng-container>
          
            <ng-container matColumnDef="Issue Date">
              <th mat-header-cell *matHeaderCellDef> Issue Date </th>
              <td mat-cell *matCellDef="let script">{{script.DateIssued}}</td>
            </ng-container>

            <ng-container matColumnDef="Filled">
              <th mat-header-cell *matHeaderCellDef> Filled </th>
              <td mat-cell *matCellDef="let script">{{script.DateFilled !== null ? 'Yes' : 'No'}}</td>
            </ng-container>

            <ng-container matColumnDef="Picked Up">
                <th mat-header-cell *matHeaderCellDef> Picked Up </th>
                <td mat-cell *matCellDef="let script">{{script.DatePickedUp !== null ? 'Yes' : 'No'}}</td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="columns2"></tr>
            <tr class="sub-row" mat-row *matRowDef="let row; columns: columns2"></tr>
          </table>





          <!-- <div class="example-element-position"
          *ngFor="let script of element.scripts"> 
          {{script.drugName}} </div> -->
          <!-- <div class="example-element-position"> {{element.dob}} </div>
          <div class="example-element-position"> 
            <mat-icon>error</mat-icon>
            {{element.notifications}} 
          </div>
          <div class="example-element-position"> 
              <mat-icon>error</mat-icon>
            {{element.scriptRenewel}}
            blah
          </div> -->
        </div>
      </div>
    </td>
  </ng-container>

  <tr class="header-row" mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let element; columns: columns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
