.medList {
    width: 100%;
  }

  table {
    width: calc(100vw - 20px);
    cursor: pointer;
    margin: 10px;
  }

  .mpName {
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 64px;
    padding-left: 32px;
    color: #b216a6;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  tr.example-expanded-row {
    background: rgba(178,22,166, 0.5);

  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: rgba(178,22,166, 0.5);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: rgba(178,22,166, 0.5);
  }

  tr.example-element-row-selected {
    background: rgba(178,22,166, 0.5);

  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-element-diagram {
    width: 100%;
  }

  .mat-cell {
    color: #98318f;
    font-family: "Segoe UI";

  }

  .mat-header-cell {
    color: #98318f;
    font-weight: bold;
    font-family: "Segoe UI";
  }
  
  // .example-element-diagram {
  //   min-width: 80px;
  //   border: 2px solid black;
  //   padding: 8px;
  //   font-weight: lighter;
  //   margin: 8px 0;
  //   height: 104px;
  // }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  tr.sub-row:hover {
    background: rgba(178,22,166, 0.5);
  }
