.patient-search {
  padding-top: 32px;
  width: 80%;
  margin: auto;
}

.patient-search-bar {
  width: 600px;
}

.patient-list {
  width: 80%;
  margin: auto;

  table {
    width: 100%;
  }
}

.patient-row {
  cursor: pointer;
  transition: 150ms;

  &:hover {
    color: white;
    background-color: rgba(178, 22, 166, 0.8);
  }

  .mat-cell {
    color: inherit;
  }
}
