<div class="list">
  <table class="medList" mat-table [dataSource]="meds">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let med">{{med.medicationGenericName}}</td>
    </ng-container>

    <ng-container matColumnDef="Dosage">
      <th mat-header-cell *matHeaderCellDef> Dosage </th>
      <td mat-cell *matCellDef="let med">{{med.dosage}}</td>
    </ng-container>

    <ng-container matColumnDef="Route">
    <th mat-header-cell *matHeaderCellDef> Route </th>
    <td mat-cell *matCellDef="let med">{{med.medicationRoute}}</td>
  </ng-container>

    <ng-container matColumnDef="Frequency">
      <th mat-header-cell *matHeaderCellDef> Frequency </th>
      <td mat-cell *matCellDef="let med">{{med.medicationTime}}</td>
    </ng-container>

    <ng-container matColumnDef="Date Prescribed">
      <th mat-header-cell *matHeaderCellDef> Date Prescribed </th>
      <td mat-cell *matCellDef="let med">{{med.dateIssued}}</td>
    </ng-container>

    <ng-container matColumnDef="Prescribed By">
      <th mat-header-cell *matHeaderCellDef> Prescribed By </th>
      <td mat-cell *matCellDef="let med">{{med.prescribedBy}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr class="sub-row" mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
